div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  height: 225px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery a {
  text-decoration: none;
  color: inherit;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;
  text-align: center;
}
